* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #0F111C;                
    color: white;
}
#logo {
    width: 7%;
    margin: 2.4% auto;
}
#logo img {
    width: 100%;
}
p {
    line-height: 1.65em;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    width: 100%;
    padding: 5% 0;
    border-radius: .8em;
    margin: 5.5% 0;
    border: none;                
}
.secondary {
    width: 100%;
    padding: 5% 0;
    border-radius: .8em;
    margin: 5.5% 0;
    background: none;
    border: 2px solid #1DB954;
}
input {
    width: 100%;
    padding: 5% 0;
    margin: 1% 0;
    border: none;
    text-indent: 20px;
}
input::placeholder {
    color: #8d8d8d;
    letter-spacing: .1em;
}
input[type=checkbox] {
    width: 24px;
    height: 24px;
    border-radius: 16px;
}
select {
    width: 100%;
    padding: 5% 0;
    margin: 1% 0;
    border: none;
    text-indent: 20px;
}
hr {
    border-top: 1px solid #4D4D4D;
    border-bottom: none;
    border-right: none;
    border-left: none;
}


/******************************************/
/************ BACKGROUND COLORS ***********/
/******************************************/
/****************** FLAT ******************/
.bg-white {
    background-color: #ffffff;
}
.bg-dark {
    background-color: #0F111C;
}
.bg-dark-soft {
    background-color: #1C1E27;
}
.bg-green-spotify {
    background-color: #1DB954;
}
.bg-green-whatsapp {
    background-color: #25D366;
}
.bg-dark-soft-transp75 {
    background-color: rgba(15, 17, 28, .75);
}
/**************** GRADIENT ****************/
.bg-dark-gradient {
    background: linear-gradient(.75turn, #232537, #141622);
}
.bg-dark-gradient-radial {
    background: radial-gradient(#232537, #141622);
}
.bg-dark-overlay-header {
    background: linear-gradient(0turn, #0F111C, #0f111c00);
}
.bg-dark-overlay-card {
    background: linear-gradient(180deg,rgba(10,10,10,0) 2.49%,rgba(10,10,10,.5) 39.64%,#0a0a0a);
}
.bg-blue-gradient {
    background: linear-gradient(180deg,#587adc,#395eca);
}
.bg-purple-gradient {
    background: linear-gradient(.75turn,#9658dc,#431379);
}

/******************************************/
/************** BORDER RADIUS *************/
/******************************************/
.border-radius-04 {
    border-radius: .4rem;
}
.border-radius-08 {
    border-radius: .8rem;
}
.border-radius-1 {
    border-radius: 1rem;
}
.border-radius-2 {
    border-radius: 2rem;
}
.border-radius-100 {
    border-radius: 100rem;
}

/******************************************/
/****************** TEXT ******************/
/******************************************/
/************* TEXT ALIGNMENT *************/
.t-align-center {
    text-align: center;
}
/*************** TEXT COLORS **************/
.white {
    color: #ffffff;
}
.grey-50 {
    color: #fafafa;
}
.grey-200 {
    color: #d8d8d8;
}
.grey-300 {
    color: #a8a8a8;
}
.grey-400 {
    color: #8d8d8d;
}
.grey-500 {
    color: #4D4D4D;
}
.grey-1000 {
    color: #141414;
}
.black {
    color: #000000;
}
.blue-200 {
    color: #8DCFFF;
}
.blue-300 {
    color: #7aa9ff;
}
.blue-400 {
    color: #6990F5;
}
.blue-500 {
    color: #395eca;
}
.green-spotify {
    color: #1DB954;
}

/************** TEXT WEIGHT **************/
.f-w-200 {
    font-weight: 200;
}
.f-w-300 {
    font-weight: 300;
}
.f-w-400 {
    font-weight: 400;
}
.f-w-500 {
    font-weight: 500;
}
.f-w-600 {
    font-weight: 600;
}
.f-w-700 {
    font-weight: 700;
}
.f-w-800 {
    font-weight: 800;
}
/************* TEXT DECORATION ************/
.text-underline {
    text-decoration: underline;
}

/************* LETTER SPACING *************/
.letter-spacing-1 {
    letter-spacing: .05rem;
}
.letter-spacing-2 {
    letter-spacing: .1rem;
}
.letter-spacing-3 {
    letter-spacing: .2rem;
}

/******************************************/
/******** FLEXBOX AND GRID SYSTEM  ********/
/******************************************/
.d-flex-row {
    display: flex;
    flex-direction: row;
}
.d-flex-column {
    display: flex;
    flex-direction: column;
}
.j-c-space-between {
    justify-content: space-between;
}
.j-c-space-around {
    justify-content: space-around;
}
.j-c-start {
    justify-content: start;
}
.j-c-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.align-items-stretch {
    align-items: stretch;
}
.no-shrink {
    flex-shrink: 0;
}
.overflow-x {
    overflow-x: auto;
    overflow-y: hidden;
}
.overflow-hidden {
    overflow-x: hidden;
}
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}
.container {
    margin: 0 auto;
}
.z-index-1 {
    z-index: 1;
}
.z-index-2 {
    z-index: 2;
}
.z-index-3 {
    z-index: 3;
}
.z-index-4 {
    z-index: 4;
}
.z-index-max {
    z-index: 999;
}
.bottom-0 {
    bottom: 0;
}
.bottom-5 {
    bottom: 5%;
}
.bottom-12 {
    bottom: 12%;
}
.top-0 {
    top: 0;
}
.right-0 {
    right: 0;
}
.w-100 {
    width: 100%;
}
.w-80 {
    width: 80%;
}
.w-70 {
    width: 70%;
}
.h-100 {
    height: 100%;
}
.carousel {
    margin-left: -7.5%;
    padding: 0 7.5%;
    width: 115%;
}

/******************************************/
/*********** ARTIST PAGE HEADER ***********/
/******************************************/
.overlay-header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.overlay-card {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    z-index: 1;
}
.overlay-card-followed {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.artist-avatar-wrapper {
    width: 72px;
    height: 72px;
}
.artist-avatar {
    width: 72px;
    height: 72px;
    object-fit: cover;
}
.artist-avatar-verified-icon {
    position: absolute;
    right: 0;
    top: 0;
}

/******************************************/
/************** FAN PROFILE ***************/
/******************************************/
.fan-avatar {
    width: 96px;
    height: 96px;
    object-fit: cover;
}
.social-card {
    height: 25vh;
}
#spotify .social-logo {
    width: 48px;
    height: 48px;
}

/******************************************/
/*************** ARTIST CARD **************/
/******************************************/
.artist-card {
    width: 50vw;
    height: 38vh;
}
.object-fit-cover {
    object-fit: cover;
}

/******************************************/
/************* PRIZE SECTION *************/
/******************************************/
.prize {
    align-items: stretch;
    width: 80vw;
    flex-shrink: 0;
}

/******************************************/
/*************** RANK SECTION *************/
/******************************************/
.rank-avatar {
    height: 48px;
    width: 48px;
    object-fit: cover;
}

.podium-fan {
    object-fit: cover;
}
#first-position {
    width: calc(85vw / 3);
    height: calc(85vw / 3);
}
#second-position {
    width: calc(65vw / 3);
    height: calc(65vw / 3);
}
#third-position {
    width: calc(55vw / 3);
    height: calc(55vw / 3);
}
.podium-position-indicator {
    width: 6vw;
    height: 6vw;
    padding: 16%;
    background-color: lawngreen;
}

/******************************************/
/**************** TOP BAR *****************/
/******************************************/
nav .container {
    position: relative;
}
.top-bar-area-overlay {
    width: 100%;
    position: absolute;
    height: 5rem;
}
.top-bar-area-block {
    width: 100%;
    height: 5rem;
}
.topbar-icon-left {
    position: absolute;
    left: 0;
}
.topbar-icon-right {
    position: absolute;
    right: 0;
}

/******************************************/ 
/**************** APP BAR *****************/
/******************************************/ 
.app-bar-area {
    width: 100%;    
    height: 72px;
    position: fixed;
    bottom: -2px;
    border-radius: 24px 24px 0 0;    
    background-color: #0f111c;
    box-shadow: 0 12px 12px 0 rgba(11, 12, 20, 0.6), 0 -12px 12px 0 rgba(11, 12, 20, 0.6);   
}
.app-bar-area-suspended {
    width: 85%;    
    height: 72px;
    position: fixed;    
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 24px;    
    background-color: #0f111c;
    box-shadow: 0 12px 12px 0 rgba(11, 12, 20, 0.6), 0 -12px 12px 0 rgba(11, 12, 20, 0.6);
}
.app-bar {                
    width: 85%;
}
.app-bar a {
    max-height: 36px;
    max-width: 36px;
}            

/******************************************/
/************** MEDIA QUERIES *************/
/******************************************/
@media (max-width: 576px){
    .container {
        width: 85vw;
    }
    #logo {
        width: 25%;
        margin: 8% auto;
    }
    #logo img {
        width: 100%;
    }
    
    /***** MARGIN *****/
    /* MARGIN TOP */
    .mt-xs-2 {
        margin-top: 2%;
    }
    .mt-xs-4 {
        margin-top: 4%;
    }
    .mt-xs-5 {
        margin-top: 5%;
    }
    .mt-xs-6 {
        margin-top: 6%;
    }
    .mt-xs-8 {
        margin-top: 8%;
    }
    .mt-xs-10 {
        margin-top: 10%;
    }
    .mt-xs-12 {
        margin-top: 12%;
    }
    .mt-xs-16 {
        margin-top: 16%;
    }
    .mt-xs-20 {
        margin-top: 20%;
    }
    .mt-xs-24 {
        margin-top: 24%;
    }
    .mt-xs-32 {
        margin-top: 32%;
    }
    .mt-xs-50 {
        margin-top: 50%;
    }
    .mt-xs-100 {
        margin-top: 100%;
    } 
    /* MARGIN BOTTOM */
    .mb-xs-1 {
        margin-bottom: 1%;
    }
    .mb-xs-2 {
        margin-bottom: 2%;
    }
    .mb-xs-3 {
        margin-bottom: 3%;
    }
    .mb-xs-4 {
        margin-bottom: 4%;
    }
    .mb-xs-5 {
        margin-bottom: 5%;
    }
    .mb-xs-8 {
        margin-bottom: 8%;
    }
    .mb-xs-10 {
        margin-bottom: 10%;
    }
    .mb-xs-20 {
        margin-bottom: 20%;
    }    
    /* MARGIN RIGHT */
    .mr-xs-2 {
        margin-right: 2%;
    }
    .mr-xs-4 {
        margin-right: 4%;
    }
    .mr-xs-5 {
        margin-right: 5%;
    }
    .mr-xs-6 {
        margin-right: 6%;
    }
    .mr-xs-10 {
        margin-right: 10%;
    }
    /* MARGIN LEFT */
    .ml-xs-2 {
        margin-left: 2%;
    }
    .ml-xs-4 {
        margin-left: 4%;
    }
    .ml-xs-8 {
        margin-left: 8%;
    }
    .ml-xs-10 {
        margin-left: 10%;
    }
    /* MARGIN RIGHT && LEFT */
    .mx-xs-auto {
        margin-right: auto;
        margin-left: auto;
    }

    /***** PADDING *****/
    /* PADDING BOTTOM */
    .pb-xs-04 {
        padding-bottom: 0.4%;
    }
    .pb-xs-1 {
        padding-bottom: 1%;
    }
    .pb-xs-5 {
        padding-bottom: 5%;
    }
    .pb-xs-6 {
        padding-bottom: 6%;
    }
    .pb-xs-8 {
        padding-bottom: 8%;
    }
    .pb-xs-12 {
        padding-bottom: 12%;
    }
    .pb-xs-24 {
        padding-bottom: 24%;
    }
    /* PADDING TOP */
    .pt-xs-04 {
        padding-top: 0.4%;
    }
    .pt-xs-1 {
        padding-top: 1%;
    }
    .pt-xs-5 {
        padding-top: 5%;
    }
    .pt-xs-6 {
        padding-top: 6%;
    }
    .pt-xs-8 {
        padding-top: 8%;
    }    
    /* PADDING LEFT */
    .pl-xs-2 {
        padding-left: 2%;
    }
    .pl-xs-4 {
        padding-left: 4%;
    }
    .pl-xs-6 {
        padding-left: 6%;
    }
    .pl-xs-8 {
        padding-left: 8%;
    }
    .pl-xs-10 {
        padding-left: 10%;
    }    
    /* PADDING RIGHT */
    .pr-xs-2 {
        padding-right: 2%;
    }
    .pr-xs-4 {
        padding-right: 4%;
    }
    .pr-xs-8 {
        padding-right: 8%;
    }
    /* PADDING ALL SIDES */
    .p-xs-10 {
        padding: 10%;
    }

    /**** TEXT SIZE ****/
    .fsize-xs-1 {
        font-size: .8rem;
    }
    .fsize-xs-2 {
        font-size: .9rem;
    }
    .fsize-xs-3 {
        font-size: .9rem;
    }
    .fsize-xs-4 {
        font-size: 1.1rem;
    }
    .fsize-xs-5 {
        font-size: 1.2rem;
    }
    .fsize-xs-6 {
        font-size: 1.4rem;
    }
    .fsize-xs-7 {
        font-size: 1.6rem;
    }
    .fsize-xs-8 {
        font-size: 1.8rem;
    }
    .fsize-xs-9 {
        font-size: 2rem;
    }
    .fsize-xs-10 {
        font-size: 2.25rem;
    }

    nav {
        padding: 6% 0;
    }
    footer {
        padding: 10% 0;
    }
}
@media (min-width: 577px) and (max-width: 767px) {
    .container {
        width: 70vw;
    }
    #logo {
        width: 25%;
        margin: 8% auto;
    }
    #logo img {
        width: 100%;
    }
    /***** MARGIN *****/
    /* MARGIN TOP */
    .mt-sm-2 {
        margin-top: 2%;
    }
    .mt-sm-4 {
        margin-top: 4%;
    }
    .mt-sm-5 {
        margin-top: 5%;
    }
    .mt-sm-6 {
        margin-top: 6%;
    }
    .mt-sm-8 {
        margin-top: 8%;
    }
    .mt-sm-10 {
        margin-top: 10%;
    }
    .mt-sm-12 {
        margin-top: 12%;
    }
    .mt-sm-16 {
        margin-top: 16%;
    }
    .mt-sm-20 {
        margin-top: 20%;
    }
    .mt-sm-24 {
        margin-top: 24%;
    }
    .mt-sm-32 {
        margin-top: 32%;
    }
    .mt-sm-50 {
        margin-top: 50%;
    }
    .mt-sm-100 {
        margin-top: 100%;
    }
    /* MARGIN BOTTOM */
    .mb-sm-1 {
        margin-bottom: 1%;
    }
    .mb-sm-2 {
        margin-bottom: 2%;
    }
    .mb-sm-3 {
        margin-bottom: 3%;
    }
    .mb-sm-4 {
        margin-bottom: 4%;
    }
    .mb-sm-5 {
        margin-bottom: 5%;
    }
    .mb-sm-8 {
        margin-bottom: 8%;
    }
    .mb-sm-10 {
        margin-bottom: 10%;
    }
    .mb-sm-20 {
        margin-bottom: 20%;
    }
    /* MARGIN RIGHT */
    .mr-sm-2 {
        margin-right: 2%;
    }
    .mr-sm-4 {
        margin-right: 4%;
    }
    .mr-sm-5 {
        margin-right: 5%;
    }
    .mr-sm-6 {
        margin-right: 6%;
    }
    .mr-sm-10 {
        margin-right: 10%;
    }
    /* MARGIN LEFT */
    .ml-sm-2 {
        margin-left: 2%;
    }
    .ml-sm-4 {
        margin-left: 4%;
    }
    .ml-sm-8 {
        margin-left: 8%;
    }
    .ml-sm-10 {
        margin-left: 10%;
    }
    /* MARGIN RIGHT && LEFT */
    .mx-sm-auto {
        margin-right: auto;
        margin-left: auto;
    }

    /***** PADDING *****/
    /* PADDING BOTTOM */
    .pb-sm-04 {
        padding-bottom: 0.4%;
    }
    .pb-sm-1 {
        padding-bottom: 1%;
    }
    .pb-sm-5 {
        padding-bottom: 5%;
    }
    .pb-sm-6 {
        padding-bottom: 6%;
    }
    .pb-sm-8 {
        padding-bottom: 8%;
    }
    .pb-sm-12 {
        padding-bottom: 12%;
    }
    .pb-sm-24 {
        padding-bottom: 24%;
    }
    /* PADDING TOP */
    .pt-sm-04 {
        padding-top: 0.4%;
    }
    .pt-sm-1 {
        padding-top: 1%;
    }
    .pt-sm-5 {
        padding-top: 5%;
    }
    .pt-sm-6 {
        padding-top: 6%;
    }
    .pt-sm-8 {
        padding-top: 8%;
    }    
    /* PADDING LEFT */
    .pl-sm-2 {
        padding-left: 2%;
    }
    .pl-sm-4 {
        padding-left: 4%;
    }
    .pl-sm-6 {
        padding-left: 6%;
    }
    .pl-sm-8 {
        padding-left: 8%;
    }
    .pl-sm-10 {
        padding-left: 10%;
    }
    /* PADDING RIGHT */
    .pr-sm-2 {
        padding-right: 2%;
    }
    .pr-sm-4 {
        padding-right: 4%;
    }
    .pr-sm-8 {
        padding-right: 8%;
    }
    /* PADDING ALL SIDES */
    .p-sm-10 {
        padding: 10%;
    }

    /**** TEXT SIZE ****/
    .fsize-sm-1 {
        font-size: .8rem;
    }
    .fsize-sm-2 {
        font-size: .9rem;
    }
    .fsize-sm-3 {
        font-size: 1rem;
    }
    .fsize-sm-4 {
        font-size: 1.2rem;
    }
    .fsize-sm-5 {
        font-size: 1.4rem;
    }
    .fsize-sm-6 {
        font-size: 1.6rem;
    }
    .fsize-sm-7 {
        font-size: 1.8rem;
    }
    .fsize-sm-8 {
        font-size: 2rem;
    }
    .fsize-sm-9 {
        font-size: 2.25rem;
    }
    .fsize-sm-10 {
        font-size: 2.5rem;
    }

    nav {
        padding: 4% 0;
    }
    footer {
        padding: 9% 0;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 60vw;
    }
    #logo {
        width: 25%;
        margin: 8% auto;
    }
    #logo img {
        width: 100%;
    }
    /***** MARGIN *****/
    /* MARGIN TOP */
    .mt-md-2 {
        margin-top: 2%;
    }
    .mt-md-4 {
        margin-top: 4%;
    }
    .mt-md-5 {
        margin-top: 5%;
    }
    .mt-md-6 {
        margin-top: 6%;
    }
    .mt-md-8 {
        margin-top: 8%;
    }
    .mt-md-10 {
        margin-top: 10%;
    }
    .mt-md-12 {
        margin-top: 12%;
    }
    .mt-md-16 {
        margin-top: 16%;
    }
    .mt-md-20 {
        margin-top: 20%;
    }
    .mt-md-24 {
        margin-top: 24%;
    }
    .mt-md-32 {
        margin-top: 32%;
    }
    .mt-md-50 {
        margin-top: 50%;
    }
    .mt-md-100 {
        margin-top: 100%;
    } 
    /* MARGIN BOTTOM */
    .mb-md-1 {
        margin-bottom: 1%;
    }
    .mb-md-2 {
        margin-bottom: 2%;
    }
    .mb-md-3 {
        margin-bottom: 3%;
    }
    .mb-md-4 {
        margin-bottom: 4%;
    }
    .mb-md-5 {
        margin-bottom: 5%;
    }
    .mb-md-8 {
        margin-bottom: 8%;
    }
    .mb-md-10 {
        margin-bottom: 10%;
    }
    .mb-md-20 {
        margin-bottom: 20%;
    }
    /* MARGIN RIGHT */
    .mr-md-2 {
        margin-right: 2%;
    }
    .mr-md-4 {
        margin-right: 4%;
    }
    .mr-md-5 {
        margin-right: 5%;
    }
    .mr-md-6 {
        margin-right: 6%;
    }
    .mr-md-10 {
        margin-right: 10%;
    }
    /* MARGIN LEFT */
    .ml-md-2 {
        margin-left: 2%;
    }
    .ml-md-4 {
        margin-left: 4%;
    }
    .ml-md-8 {
        margin-left: 8%;
    }
    .ml-md-10 {
        margin-left: 10%;
    }
    /* MARGIN RIGHT && LEFT */
    .mx-md-auto {
        margin-right: auto;
        margin-left: auto;
    }

    /***** PADDING *****/
    /* PADDING BOTTOM */
    .pb-md-04 {
        padding-bottom: 0.4%;
    }
    .pb-md-1 {
        padding-bottom: 1%;
    }
    .pb-md-5 {
        padding-bottom: 5%;
    }
    .pb-md-6 {
        padding-bottom: 6%;
    }
    .pb-md-8 {
        padding-bottom: 8%;
    }
    .pb-md-12 {
        padding-bottom: 12%;
    }
    .pb-md-24 {
        padding-bottom: 24%;
    }
    /* PADDING TOP */
    .pt-md-04 {
        padding-top: 0.4%;
    }
    .pt-md-1 {
        padding-top: 1%;
    }
    .pt-md-5 {
        padding-top: 5%;
    }
    .pt-md-6 {
        padding-top: 6%;
    }
    .pt-md-8 {
        padding-top: 8%;
    }    
    /* PADDING LEFT */
    .pl-md-2 {
        padding-left: 2%;
    }
    .pl-md-4 {
        padding-left: 4%;
    }
    .pl-md-6 {
        padding-left: 6%;
    }
    .pl-md-8 {
        padding-left: 8%;
    }
    .pl-md-10 {
        padding-left: 10%;
    }
    /* PADDING RIGHT */
    .pr-md-2 {
        padding-right: 2%;
    }
    .pr-md-4 {
        padding-right: 4%;
    }
    .pr-md-8 {
        padding-right: 8%;
    }
    /* PADDING ALL SIDES */
    .p-md-10 {
        padding: 10%;
    }

    /**** TEXT SIZE ****/
    .fsize-md-1 {
        font-size: .85rem;
    }
    .fsize-md-2 {
        font-size: 1rem;
    }
    .fsize-md-3 {
        font-size: 1.1rem;
    }
    .fsize-md-4 {
        font-size: 1.35rem;
    }
    .fsize-md-5 {
        font-size: 1.55rem;
    }
    .fsize-md-6 {
        font-size: 1.75rem;
    }
    .fsize-md-7 {
        font-size: 1.95rem;
    }
    .fsize-md-8 {
        font-size: 2.2rem;
    }
    .fsize-md-9 {
        font-size: 2.4rem;
    }
    .fsize-md-10 {
        font-size: 2.65rem;
    }

    nav {
        padding: 3% 0;
    }
    footer {
        padding: 7.5% 0;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 60vw;
    }
    #logo {
        width: 25%;
        margin: 8% auto;
    }
    #logo img {
        width: 100%;
    }
    /***** MARGIN *****/
    /* MARGIN TOP */
    .mt-lg-2 {
        margin-top: 2%;
    }
    .mt-lg-4 {
        margin-top: 4%;
    }
    .mt-lg-5 {
        margin-top: 5%;
    }
    .mt-lg-6 {
        margin-top: 6%;
    }
    .mt-lg-8 {
        margin-top: 8%;
    }
    .mt-lg-10 {
        margin-top: 10%;
    }
    .mt-lg-12 {
        margin-top: 12%;
    }
    .mt-lg-16 {
        margin-top: 16%;
    }
    .mt-lg-20 {
        margin-top: 20%;
    }
    .mt-lg-24 {
        margin-top: 24%;
    }
    .mt-lg-32 {
        margin-top: 32%;
    }
    .mt-lg-50 {
        margin-top: 50%;
    }
    .mt-lg-100 {
        margin-top: 100%;
    } 
    /* MARGIN BOTTOM */
    .mb-lg-1 {
        margin-bottom: 1%;
    }
    .mb-lg-2 {
        margin-bottom: 2%;
    }
    .mb-lg-3 {
        margin-bottom: 3%;
    }
    .mb-lg-4 {
        margin-bottom: 4%;
    }
    .mb-lg-5 {
        margin-bottom: 5%;
    }
    .mb-lg-8 {
        margin-bottom: 8%;
    }
    .mb-lg-10 {
        margin-bottom: 10%;
    }
    .mb-lg-20 {
        margin-bottom: 20%;
    }
    /* MARGIN RIGHT */
    .mr-lg-2 {
        margin-right: 2%;
    }
    .mr-lg-4 {
        margin-right: 4%;
    }
    .mr-lg-5 {
        margin-right: 5%;
    }
    .mr-lg-6 {
        margin-right: 6%;
    }
    .mr-lg-10 {
        margin-right: 10%;
    }
    /* MARGIN LEFT */
    .ml-lg-2 {
        margin-left: 2%;
    }
    .ml-lg-4 {
        margin-left: 4%;
    }
    .ml-lg-8 {
        margin-left: 8%;
    }
    .ml-lg-10 {
        margin-left: 10%;
    }
    /* MARGIN RIGHT && LEFT */
    .mx-lg-auto {
        margin-right: auto;
        margin-left: auto;
    }

    /***** PADDING *****/
    /* PADDING BOTTOM */
    .pb-lg-04 {
        padding-bottom: 0.4%;
    }
    .pb-lg-1 {
        padding-bottom: 1%;
    }
    .pb-lg-5 {
        padding-bottom: 5%;
    }
    .pb-lg-6 {
        padding-bottom: 6%;
    }
    .pb-lg-8 {
        padding-bottom: 8%;
    }
    .pb-lg-12 {
        padding-bottom: 12%;
    }
    .pb-lg-24 {
        padding-bottom: 24%;
    }
    /* PADDING TOP */
    .pt-lg-04 {
        padding-top: 0.4%;
    }
    .pt-lg-1 {
        padding-top: 1%;
    }
    .pt-lg-5 {
        padding-top: 5%;
    }
    .pt-lg-6 {
        padding-top: 6%;
    }
    .pt-lg-8 {
        padding-top: 8%;
    }    
    /* PADDING LEFT */
    .pl-lg-2 {
        padding-left: 2%;
    }
    .pl-lg-4 {
        padding-left: 4%;
    }
    .pl-lg-6 {
        padding-left: 6%;
    }
    .pl-lg-8 {
        padding-left: 8%;
    }
    .pl-lg-10 {
        padding-left: 10%;
    }
    /* PADDING RIGHT */
    .pr-lg-2 {
        padding-right: 2%;
    }
    .pr-lg-4 {
        padding-right: 4%;
    }
    .pr-lg-8 {
        padding-right: 8%;
    }
    /* PADDING ALL SIDES */
    .p-lg-10 {
        padding: 10%;
    }

    /**** TEXT SIZE ****/
    .fsize-lg-1 {
        font-size: .9rem;
    }
    .fsize-lg-2 {
        font-size: 1rem;
    }
    .fsize-lg-3 {
        font-size: 1.2rem;
    }
    .fsize-lg-4 {
        font-size: 1.4rem;
    }
    .fsize-lg-5 {
        font-size: 1.6rem;
    }
    .fsize-lg-6 {
        font-size: 1.8rem;
    }
    .fsize-lg-7 {
        font-size: 2rem;
    }
    .fsize-lg-8 {
        font-size: 2.2rem;
    }
    .fsize-lg-9 {
        font-size: 2.4rem;
    }
    .fsize-lg-10 {
        font-size: 2.7rem;
    }

    footer {
        padding: 6% 0;
    }
}
@media (min-width: 1200px) and (max-width: 1399px) {
    .container {
        width: 50vw;
    }
    #logo {
        width: 25%;
        margin: 8% auto;
    }
    #logo img {
        width: 100%;
    }
    /***** MARGIN *****/
    /* MARGIN TOP */
    .mt-xl-2 {
        margin-top: 2%;
    }
    .mt-xl-4 {
        margin-top: 4%;
    }
    .mt-xl-5 {
        margin-top: 5%;
    }
    .mt-xl-6 {
        margin-top: 6%;
    }
    .mt-xl-8 {
        margin-top: 8%;
    }
    .mt-xl-10 {
        margin-top: 10%;
    }
    .mt-xl-12 {
        margin-top: 12%;
    }
    .mt-xl-16 {
        margin-top: 16%;
    }
    .mt-xl-20 {
        margin-top: 20%;
    }
    .mt-xl-24 {
        margin-top: 24%;
    }
    .mt-xl-32 {
        margin-top: 32%;
    }
    .mt-xl-50 {
        margin-top: 50%;
    }
    .mt-xl-100 {
        margin-top: 100%;
    } 
    /* MARGIN BOTTOM */
    .mb-xl-1 {
        margin-bottom: 1%;
    }
    .mb-xl-2 {
        margin-bottom: 2%;
    }
    .mb-xl-3 {
        margin-bottom: 3%;
    }
    .mb-xl-4 {
        margin-bottom: 4%;
    }
    .mb-xl-5 {
        margin-bottom: 5%;
    }
    .mb-xl-8 {
        margin-bottom: 8%;
    }
    .mb-xl-10 {
        margin-bottom: 10%;
    }
    .mb-xl-20 {
        margin-bottom: 20%;
    }
    /* MARGIN RIGHT */
    .mr-xl-2 {
        margin-right: 2%;
    }
    .mr-xl-4 {
        margin-right: 4%;
    }
    .mr-xl-5 {
        margin-right: 5%;
    }
    .mr-xl-6 {
        margin-right: 6%;
    }
    .mr-xl-10 {
        margin-right: 10%;
    }
    /* MARGIN LEFT */
    .ml-xl-2 {
        margin-left: 2%;
    }
    .ml-xl-4 {
        margin-left: 4%;
    }
    .ml-xl-8 {
        margin-left: 8%;
    }
    .ml-xl-10 {
        margin-left: 10%;
    }
    /* MARGIN RIGHT && LEFT */
    .mx-xl-auto {
        margin-right: auto;
        margin-left: auto;
    }

    /***** PADDING *****/
    /* PADDING BOTTOM */
    .pb-xl-04 {
        padding-bottom: 0.4%;
    }
    .pb-xl-1 {
        padding-bottom: 1%;
    }
    .pb-xl-5 {
        padding-bottom: 5%;
    }
    .pb-xl-6 {
        padding-bottom: 6%;
    }
    .pb-xl-8 {
        padding-bottom: 8%;
    }
    .pb-xl-12 {
        padding-bottom: 12%;
    }
    .pb-xl-24 {
        padding-bottom: 24%;
    }
    /* PADDING TOP */
    .pt-xl-04 {
        padding-top: 0.4%;
    }
    .pt-xl-1 {
        padding-top: 1%;
    }
    .pt-xl-5 {
        padding-top: 5%;
    }
    .pt-xl-6 {
        padding-top: 6%;
    }
    .pt-xl-8 {
        padding-top: 8%;
    }    
    /* PADDING LEFT */
    .pl-xl-2 {
        padding-left: 2%;
    }
    .pl-xl-4 {
        padding-left: 4%;
    }
    .pl-xl-6 {
        padding-left: 6%;
    }
    .pl-xl-8 {
        padding-left: 8%;
    }
    .pl-xl-10 {
        padding-left: 10%;
    }
    /* PADDING RIGHT */
    .pr-xl-2 {
        padding-right: 2%;
    }
    .pr-xl-4 {
        padding-right: 4%;
    }
    .pr-xl-8 {
        padding-right: 8%;
    }
    /* PADDING ALL SIDES */
    .p-xl-10 {
        padding: 10%;
    }

    /**** TEXT SIZE ****/
    .fsize-xl-1 {
        font-size: .9rem;
    }
    .fsize-xl-2 {
        font-size: 1rem;
    }
    .fsize-xl-3 {
        font-size: 1.35rem;
    }
    .fsize-xl-4 {
        font-size: 1.55rem;
    }
    .fsize-xl-5 {
        font-size: 1.8rem;
    }
    .fsize-xl-6 {
        font-size: 2rem;
    }
    .fsize-xl-7 {
        font-size: 2.2rem;
    }
    .fsize-xl-8 {
        font-size: 2.4rem;
    }
    .fsize-xl-9 {
        font-size: 2.6rem;
    }
    .fsize-xl-10 {
        font-size: 2.8rem;
    }

    footer {
        padding: 4% 0;
    }
    
}
@media (min-width: 1400px) {
    .container {
        width: 40vw;
    }
    #logo {
        width: 25%;
        margin: 8% auto;
    }
    #logo img {
        width: 100%;
    }
    /***** MARGIN *****/
    /* MARGIN TOP */
    .mt-xxl-2 {
        margin-top: 2%;
    }
    .mt-xxl-4 {
        margin-top: 4%;
    }
    .mt-xxl-5 {
        margin-top: 5%;
    }
    .mt-xxl-6 {
        margin-top: 6%;
    }
    .mt-xxl-8 {
        margin-top: 8%;
    }
    .mt-xxl-10 {
        margin-top: 10%;
    }
    .mt-xxl-12 {
        margin-top: 12%;
    }
    .mt-xxl-16 {
        margin-top: 16%;
    }
    .mt-xxl-20 {
        margin-top: 20%;
    }
    .mt-xxl-24 {
        margin-top: 24%;
    }
    .mt-xxl-32 {
        margin-top: 32%;
    }
    .mt-xxl-50 {
        margin-top: 50%;
    }
    .mt-xxl-100 {
        margin-top: 100%;
    } 
    /* MARGIN BOTTOM */
    .mb-xxl-1 {
        margin-bottom: 1%;
    }
    .mb-xxl-2 {
        margin-bottom: 2%;
    }
    .mb-xxl-3 {
        margin-bottom: 3%;
    }
    .mb-xxl-4 {
        margin-bottom: 4%;
    }
    .mb-xxl-5 {
        margin-bottom: 5%;
    }
    .mb-xxl-8 {
        margin-bottom: 8%;
    }
    .mb-xxl-10 {
        margin-bottom: 10%;
    }
    .mb-xxl-20 {
        margin-bottom: 20%;
    }
    /* MARGIN RIGHT */
    .mr-xxl-2 {
        margin-right: 2%;
    }
    .mr-xxl-4 {
        margin-right: 4%;
    }
    .mr-xxl-5 {
        margin-right: 5%;
    }
    .mr-xxl-6 {
        margin-right: 6%;
    }
    .mr-xxl-10 {
        margin-right: 10%;
    }
    /* MARGIN LEFT */
    .ml-xxl-2 {
        margin-left: 2%;
    }
    .ml-xxl-4 {
        margin-left: 4%;
    }
    .ml-xxl-8 {
        margin-left: 8%;
    }
    .ml-xxl-10 {
        margin-left: 10%;
    }
    /* MARGIN RIGHT && LEFT */
    .mx-xxl-auto {
        margin-right: auto;
        margin-left: auto;
    }

    /***** PADDING *****/
    /* PADDING BOTTOM */
    .pb-xxl-04 {
        padding-bottom: 0.4%;
    }
    .pb-xxl-1 {
        padding-bottom: 1%;
    }
    .pb-xxl-5 {
        padding-bottom: 5%;
    }
    .pb-xxl-6 {
        padding-bottom: 6%;
    }
    .pb-xxl-8 {
        padding-bottom: 8%;
    }
    .pb-xxl-12 {
        padding-bottom: 12%;
    }
    .pb-xxl-24 {
        padding-bottom: 24%;
    }
    /* PADDING TOP */
    .pt-xxl-04 {
        padding-top: 0.4%;
    }
    .pt-xxl-1 {
        padding-top: 1%;
    }
    .pt-xxl-5 {
        padding-top: 5%;
    }
    .pt-xxl-6 {
        padding-top: 6%;
    }
    .pt-xxl-8 {
        padding-top: 8%;
    }    
    /* PADDING LEFT */
    .pl-xxl-2 {
        padding-left: 2%;
    }
    .pl-xxl-4 {
        padding-left: 4%;
    }
    .pl-xxl-6 {
        padding-left: 6%;
    }
    .pl-xxl-8 {
        padding-left: 8%;
    }
    .pl-xxl-10 {
        padding-left: 10%;
    }
    /* PADDING RIGHT */
    .pr-xxl-2 {
        padding-right: 2%;
    }
    .pr-xxl-4 {
        padding-right: 4%;
    }
    .pr-xxl-8 {
        padding-right: 8%;
    }
    /* PADDING ALL SIDES */
    .p-xxl-10 {
        padding: 10%;
    }

    /**** TEXT SIZE ****/
    .fsize-xxl-1 {
        font-size: .9rem;
    }
    .fsize-xxl-2 {
        font-size: 1rem;
    }
    .fsize-xxl-3 {
        font-size: 1.55rem;
    }
    .fsize-xxl-4 {
        font-size: 1.75rem;
    }
    .fsize-xxl-5 {
        font-size: 1.9rem;
    }
    .fsize-xxl-6 {
        font-size: 2.1rem;
    }
    .fsize-xxl-7 {
        font-size: 2.4rem;
    }
    .fsize-xxl-8 {
        font-size: 2.6rem;
    }
    .fsize-xxl-9 {
        font-size: 2.8rem;
    }
    .fsize-xxl-10 {
        font-size: 3rem;
    }

    footer {
        padding: 3% 0;
    }
}